body
{
	
}
            #all{
				width: 1000px;
				margin:0 auto;
			}
			#nav{
				height: 100px;
				background-color: blue;
			}
			#top{
				padding-top: 25px;
				padding-left: 300px;
				color: white;
				font-size: 60px;
			}
			#section1{
				height: 500px;
				background-color: darkred;
			}
			#article1{
				height: 480px;
				width: 680px;
				margin-top: 10px;
				margin-left: 10px;
				background-color: black;
				float: left;
				
			}
			#aside1{
			height: 480px;
			width: 280px;
			margin-top: 10px;
			margin-right: 10px;
			background-color: coral;
			float:right;
			
			}
			#section2{
				height: 500px;
				background-color: darkgray;
			}
			#article2{
				background-color:firebrick;
				width: 580px;
				height: 480px;
				margin-left: 10px;
				margin-top: 10px;	
				float: left;		
			}
			#aside2{
				width: 340px;
				height: 480px;
				background-color:darkseagreen;
				margin-top: 10px;
				margin-right: 10px;
				float: right;
			}
			#footer{
				height: 50px;
				background-color: deeppink;
			}
			#jumpWeibo
			{
				color: white;
				font-size: 40px;
				margin-left: 10px;
			}
			#music
			{
				vertical-align:text-bottom;
				color: white;
				margin-top: 0px;
				margin-left: 50px;
			}
			#videolist
			{
				margin:10px auto;
				width: 320px;
				float: right;
			}
			ul>ol
			{
				margin-left: 20px;
				margin-top: 10px;
			}
		a{
			text-decoration: none;
		}
		a:hover
		{
			background-color:lightgrey;	
		}
		#wx
		{
			margin: 10px 50px;
		}
